# Dependencies
/node_modules
/proxy-server/node_modules
/worker/node_modules

# Build outputs
/dist
/.wrangler

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local
.env.local
/proxy-server/.env

# IDE files
.vscode/
.idea/
